
<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>楊子青的個人網站</title>
    <style>
    </style>
</head>
<body>

<div class="container">
    <h1>林憲墉的個人首頁</h1>
    
    <div class="nav-grid">
        <a href="/mis" class="nav-link">課程資訊</a>
        <a href="/today" class="nav-link">今天日期</a>
        <a href="/about" class="nav-link">關於我</a>
        <a href="/welcome?u=子青&dep=靜宜資管" class="nav-link">GET 傳值範例</a>
        <a href="/account" class="nav-link">帳密 POST 驗證</a>
        <a href="/math" class="nav-link">基礎數學運算</a>
        <a href="/math2" class="nav-link">進階次方與根號</a>
        <a href="/cup" class="nav-link">線上擲茭</a>
        <a href="/read" class="nav-link">Firestore 資料讀取</a>
        <a href="/search" class="nav-link">教師姓名查詢</a>
        <a href="/spider1" class="nav-link">爬取課程</a>
        <a href="/movie1" class="nav-link">爬取即將上映電影</a>
        <a href="/movie2" class="nav-link">爬取電影進資料庫</a>
        <a href="/movie3" class="nav-link">查詢電影資料庫</a>
        <a href="/road" class="nav-link">十大肇事路口</a>
        <a href="/weather" class="nav-link">查詢縣市天氣</a>
    </div>
</div>

</body>
</html>
