<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>林憲墉的網站</title>

</head>
<body>

<div class="container">
    <h1>林憲墉的個人首頁</h1>
    
    <div class="nav-grid">
        <a href="py/mis2a.php" >課程資訊</a>
        <a href="/today" >今天日期</a>
        <a href="/welcome">關於我</a>
        <a href="/welcome">GET 傳值範例</a>
        <a href="/account">帳密 POST 驗證</a>
        <a href="/math" >基礎數學運算</a>
        <a href="/math2" >進階次方與根號</a>
        <a href="/cup" >線上擲茭</a>
        <a href="/read">Firestore 資料讀取</a>
        <a href="/search">教師姓名查詢</a>
        <a href="/spider1">爬取課程</a>
        <a href="/movie1">爬取即將上映電影</a>
        <a href="/movie2">爬取電影進資料庫</a>
        <a href="/movie3">查詢電影資料庫</a>
        <a href="/road">十大肇事路口</a>
        <a href="/weather">查詢縣市天氣</a>
    </div>
</div>

</body>
</html>
